* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida sans",arial,sans-serif;

}

.main-container{
    display: grid;
    place-content: center;
    min-height: 115vh;
    background-attachment: fixed;
    background-image: url("../img/index_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: cadetblue;
    display: flex;
    justify-content: space-between;
    padding: 0 calc((100vw - 1300px) / 2);
}

.nav-item{list-style: none;
    background: cadetblue;
    justify-content: flex-start;
    width: 100%;
    text-decoration: none;
}

.nav-item a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}


.nav-item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav-item a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

ul{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;}

.logo{ color: black;
    font-size: 1.5rem;
    font-weight:bold;
    font-style: italic;
    padding: 0 2rem;

}
.logo{
    padding: 1rem 3rem;
    font-size: 2rem;
    border: none;
    color: wheat;
    background: cadetblue;
    cursor: pointer;

}
.logo:hover{
    background:cadetblue;
    color: indigo;
}
nav a{
    text-decoration:none;
    color: black;
    padding: 0 1.5rem;

}
nav a:hover{
    color: white
}

.main{background:wheat}

.main-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2)

}
.column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;
}

.column-left h1{
    margin-bottom: 1rem;
    font-size: 3rem;

}
.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}
.DOWNLOAD-BUTTON{
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: wheat;
    background: black;
    cursor: pointer;

}

.DOWNLOAD-BUTTON:hover{
    background:black;
    color: indigo;
}

.right{
    display: flex;
    justify-content: center;
    padding: 0rem 2rem;
}

.main-image{
    width:100%;
    height:100%;
}

.p {
    position: relative;
    animation: float 3s ease-in-out infinite;
}

